html,
body {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  justify-items: space-between;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f1f1f1;
  font-family: "ubuntu", verdana, "sans-sérif";
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: rgb(14, 19, 68);
  z-index: 0;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  height: auto;
}
header img {
  width: 70%;
  height: auto;
}

.links {
  width: 98%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 98%;
  height: auto;
  z-index: 1;
}

.links .link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.links .link a img {
  width: 128px;
  z-index: 1;
}


.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;

}


/*Lightbox*/


#fiche {
  position: absolute;
  width: 100%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%,-50%);
  background: #292929;
  transform: scale(0);
}

#fiche:target {
  transform: scale(100%);
}

#fiche a {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: auto;
}
#fiche a img {
  width: auto;
  height: auto;
}